*/target/*
*/target/**
/target
nb-configuration.xml
*/nb-configuration.xml
**/nb-configuration.xml

/Borrar/nbproject/private/
/Borrar/build/

SS-SIGES-ear/

.project
.settings/
.vscode/
GeneralUtils/.project
GeneralUtils/.settings/
SS-GENERICDAO-BUSINESS-JPA2/.project
SS-GENERICDAO-BUSINESS-JPA2/.settings/
SS-GENERIDAO-TO-JPA2/.classpath
SS-GENERIDAO-TO-JPA2/.project
SS-GENERIDAO-TO-JPA2/.settings/
SS-SIGES-data/.project
SS-SIGES-data/.settings/
SS-SIGES-documentacion/.project
SS-SIGES-documentacion/.settings/
SS-SIGES-ejb/.project
SS-SIGES-ejb/.settings/
SS-SIGES-entities/.factorypath
SS-SIGES-entities/.project
SS-SIGES-entities/.settings/
SS-SIGES-exceptions/.project
SS-SIGES-exceptions/.settings/
SS-SIGES-mysql-ear/.project
SS-SIGES-mysql-ear/.settings/
SS-SIGES-postgresql-ear/.project
SS-SIGES-postgresql-ear/.settings/
SS-SIGES-remotes/.project
SS-SIGES-remotes/.settings/
SS-SIGES-web/.project
SS-SIGES-web/.settings/
pge-client-v2.4/.project
pge-client-v2.4/.settings/

